:root {
    --primary: #0F0F0F;
    --second: #FF2C2C;
}



/* reset css */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
}
/* reset css */

/* framework */

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Poppins', sans-serif;
}


.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1350px;
}

.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.row-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.desk-hide{
    display: none;
}

.b-red{
    border: 1px solid red;
}

.img-fluid{
    width: 100%;
}

p{
    font-size: 1rem;
    color: #7A7A7A;
}

/* framework */

.head{
    height: 100vh;
    max-height: 730px;
    background: url(img/bg-header.webp) center center no-repeat;
    background-size: cover;
}

nav{
    height: 70px;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}

.link-nav{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.link-logo{
    display: contents;
}

.navbar{
    display: flex;
    gap: 2rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-dot{
    width: 9px;
    height: 9px;
    background: var(--second);
    border-radius: 200px;
    opacity: 0;
    margin-top: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}

.group-link{
    position: relative;
}


.group-link:hover .link-dot{
    opacity: 1;
    margin-top: 0.1rem;
}

h1{
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 50px;
}

.head-phara{
    color: white;
    font-size: 1.3rem;
    padding-right: 200px;
}

.btn-group{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.arrow-d{
    border: 2px solid white;
    padding: 0.8rem 0.8rem;
    border-radius: 200px;
}

.arrow-down{
    object-fit: cover;
}

.btn-w{
    background: white;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary);
    border-radius: 200px;
    padding: 0.6rem 2.8rem;
}

.link-social{
    text-decoration: none;
}

.facebook{
    margin-top: 1rem;
}

.social{
    width: 40px;
}

.social-content{
    display: flex;
    align-items: center;
}

.social-group{
    margin-left: auto;
}

.head-content{
    padding: 10rem 0;
}

.about-us{
    background: var(--primary);
    padding: 1rem 0 2rem 0;
}

h2{
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.dot{
    color: var(--second);
}

h3{
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
}

.img-person{
    width: 130px;
}

.info-us{
    color: white;
    font-weight: 300;
    font-style: italic;
}

.col-us{
    display: grid;
    place-items: center;
}

.info-us-content{
    margin-top: 1.8rem;
}

.h2-service{
    color: var(--primary);
}

.col-service{
    display: flex;
    align-items: center;
}


.ret{
    height: 200px;
    width: 10px;
    background: var(--primary);
    margin: 0 1rem;
}

.btn-service{
    background: var(--primary);
    color: white;
    text-decoration: none;
    padding: 0.8rem 3.5rem;
    font-weight: 500;
    border-radius: 200px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}


.img-service{
    width: 100%;
}


h4{
    color: var(--primary);
    font-weight: 600;
    font-size: 1.8rem;
}

.content-service{
    display: flex;
    align-items: center;
    padding: 0 8rem;
    margin-top: 4rem;
}


.service{
    padding: 3rem 0;
}

.arrow-r{
    width: 10px;
    display: block;
    transition: all 0.5s;
}

.arrow-margin{
    margin-left: 0.5rem;
}

.btn-service:hover .arrow-r{
    transform: translateX(80%);
}

.btn-service:hover{
    background: none;
    color: var(--primary);
    box-shadow: inset 0 0 0 2px var(--primary);
}

.toggle-nav{
    transition: all 0.4s;
}

.nav-mobile{
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 3rem 0;
    transition: all 0.6s;
    transform: translateX(100%);
    z-index: 99;
}

.x-menu{
    margin-left: auto;
    display: block;
}

.link-mobile{
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 2rem;
}

.menu-mobile{
    margin-top: 3rem;
}

.menu-mobile li{
    padding: 1rem 0;
    transition: all 0.5s;
}

.cici:hover .link-mobile{
    color: var(--second);
}

.link-social-mobile{
    width: 50px;
}

.social-mobile{
    position: relative;
    margin-top: 6rem;
}

.link-margin{
    margin-left: 2rem;
}

.content-social-mobile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.work{
    padding: 3rem 0;
    background: var(--primary);
}

.titol-work{
    text-align: left;
    line-height: 40px;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.mini-titol-work{
    text-align: left;
    font-weight: 500;
    font-style: italic;
    color: #C7C7C7;
}

.btn-work{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 0.6rem 5.5rem;
    border-radius: 200px;
    font-weight: 500;
}

.h2-maps{
    color: var(--primary);
    margin-bottom: 1rem;
}

.map{
    width: 100%;
    height: 450px;
}

.maps{
    padding: 2rem 0;
}

footer{
    background: var(--primary);
    padding: 2rem 0;
}

.img-footer{
    width: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
}

.nav-footer{
    justify-content: center;
}

.ret-footer{
    width: 100%;
    height: 3px;
    background: #454545;
    margin-top: 1rem;
}

.c-red{
    color: var(--second);
}

.copy{
    color: #454545;
    margin-top: 1rem;
}

.circle{
    height: auto;
    margin-top: 1rem;
}

.policy{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/* responsive */
@media (max-width: 800px){
    .row-2, .row-3, .row-4{
        grid-template-columns: 1fr;
    }

    .desk-hide{
        display: block;
    }

    .mobile-hide{
        display: none;
    }

    .content-service{
        display: grid;
        grid-template-columns: 1fr;
    }

    h1{
        text-align: center;
        line-height: 60px;
        margin-bottom: 1rem;    
    }

    .head{
        padding: 2rem 0;
        position: relative;
    }

    .head-content{
        padding: 6rem 0 0 0;
    }

    .head-phara{
        padding-right: 0;
        text-align: center;
    }
    
    .btn-w{
        margin: 0 auto;
    }

    .btn-mobile{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    
    .info-us-content{
        row-gap: 2rem;
    }

    .about-us{
        padding: 3.5rem 0;
    }

    .content-service{
        padding: 0 0;
    }

    .img-service{
        width: 100%;
    }

    .ret{
        height: 5px;
        width: 80%;
        background: var(--primary);
        margin: 1.3rem auto 1.3rem auto;
    }
    
    h4{
        text-align: center;
    }

    p{
        text-align: center;
    }

    .btn-service{
        margin: 0 auto;
    }

    .img-work{
        margin-top: 5.5rem;
    }

    .mini-titol-work{
        text-align: center;
    }

    .titol-work{
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .btn-group-work{
        position: relative;
    }

    .btn-work{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-footer{
        display: block;
    }

    .footer-link{
        text-align: center;
        padding: 1rem 0;
    }

    .footer-copy{
        display: block;
    }

    .policy{
        justify-content: center;
    }


}
/* responsive */

/* script */

.open-menu{
    transform: translateX(0%);
}

.no-scroll{
    overflow: hidden;
}





/* script */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: var(--second);
}

::-webkit-scrollbar-track{
    background: rgb(180, 179, 179);
}





